<div>
  <!--done by donzojoe-->
  <div class="sun"></div>

  <div class="cloudcontain1">
    <div class="cloud1"></div>
    <div class="cloud2"></div>
    <div class="cloud3"></div>
  </div>

  <div class="cloudcontain2">
    <div class="cloud1"></div>
    <div class="cloud2"></div>
    <div class="cloud3"></div>
  </div>

  <div class="cloudcontain3">
    <div class="cloud1"></div>
    <div class="cloud2"></div>
    <div class="cloud3"></div>
  </div>

  <div class="cloudcontain4">
    <div class="cloud1"></div>
    <div class="cloud2"></div>
    <div class="cloud3"></div>
  </div>

  <!--Front Row-->
  <div class="blade1"></div>
  <div class="blade2"></div>
  <div class="blade3"></div>
  <div class="blade4"></div>
  <div class="blade5"></div>
  <div class="blade6"></div>
  <div class="blade7"></div>
  <div class="blade8"></div>
  <div class="blade9"></div>
  <div class="blade10"></div>
  <div class="blade11"></div>
  <div class="blade12"></div>
  <div class="blade13"></div>
  <div class="blade14"></div>
  <div class="blade15"></div>
  <div class="blade16"></div>
  <div class="blade17"></div>
  <div class="blade18"></div>
  <div class="blade19"></div>
  <div class="blade20"></div>
  <div class="blade21"></div>
  <div class="blade22"></div>
  <div class="blade23"></div>
  <div class="blade24"></div>
  <div class="blade25"></div>
  <div class="blade26"></div>
  <div class="blade27"></div>
  <div class="blade28"></div>
  <div class="blade29"></div>
  <div class="blade30"></div>
  <div class="blade31"></div>
  <div class="blade32"></div>
  <div class="blade33"></div>
  <div class="blade34"></div>
  <div class="blade35"></div>
  <div class="blade36"></div>
  <div class="blade37"></div>
  <div class="blade38"></div>
  <div class="blade39"></div>
  <div class="blade40"></div>
  <div class="blade41"></div>
  <div class="blade42"></div>
  <div class="blade43"></div>
  <div class="blade44"></div>
  <div class="blade45"></div>
  <!--Back Row-->
  <div class="blade1b"></div>
  <div class="blade2b"></div>
  <div class="blade3b"></div>
  <div class="blade4b"></div>
  <div class="blade5b"></div>
  <div class="blade6b"></div>
  <div class="blade7b"></div>
  <div class="blade8b"></div>
  <div class="blade9b"></div>
  <div class="blade10b"></div>
  <div class="blade11b"></div>
  <div class="blade12b"></div>
  <div class="blade13b"></div>
  <div class="blade14b"></div>
  <div class="blade15b"></div>
  <div class="blade16b"></div>
  <div class="blade17b"></div>
  <div class="blade18b"></div>
  <div class="blade19b"></div>
  <div class="blade20b"></div>
  <div class="blade21b"></div>
  <div class="blade22b"></div>
  <div class="blade23b"></div>
  <div class="blade24b"></div>
  <div class="blade25b"></div>
  <div class="blade26b"></div>
  <div class="blade27b"></div>
  <div class="blade28b"></div>
  <div class="blade29b"></div>
  <div class="blade30b"></div>
  <div class="blade31b"></div>
  <div class="blade32b"></div>
  <div class="blade33b"></div>
  <div class="blade34b"></div>
  <div class="blade35b"></div>
  <div class="blade36b"></div>
  <div class="blade37b"></div>
  <div class="blade38b"></div>
  <div class="blade39b"></div>
  <div class="blade40b"></div>
  <div class="blade41b"></div>
  <div class="blade42b"></div>
  <div class="blade43b"></div>
  <div class="blade44b"></div>
  <div class="blade45b"></div>

  <!-- <div class="sand"></div> -->
</div>