<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

<div class="container">
  <div class="row">
    <div class="type">
      <span></span>
      <span>Welcome to Emotional Radar</span>
      <span></span>
    </div>
  </div>
  <div class="row">
    <div class="col-5">
    <!-- <div class="col"> -->
    </div>
    <div class="col align-items-center">
      <a href="#" class="action-button shadow animate blue">Enter</a>
    </div>
    <div class="col">
    </div>
  </div>
</div>