<div
    class="jumbotron"
    style="padding: 50rem 2rem 1rem 2rem;"
>
    <div class="container">
        <div class="row no-gutters">
            <img
                src="../../assets/Anger.svg"
                [style.transform]="'scale(' + (finalEmotion && finalEmotion.anger ? finalEmotion.anger : 0) + ')'"
                style="transform-origin: bottom;"
            >
            <img
                src="../../assets/Contempt.svg"
                [style.transform]="'scale(' + (finalEmotion && finalEmotion.contempt ? finalEmotion.contempt : 0) + ')'"
                style="transform-origin: bottom;"
            >
            <img
                src="../../assets/Happy.svg"
                [style.transform]="'scale(' + (finalEmotion && finalEmotion.happiness ? finalEmotion.happiness : 0) + ')'"
                style="transform-origin: bottom;"
            >
            <img
                src="../../assets/Disgust.svg"
                [style.transform]="'scale(' + (finalEmotion && finalEmotion.disgust ? finalEmotion.disgust : 0) + ')'"
                style="transform-origin: bottom;"
            >
            <img
                src="../../assets/Sad.svg"
                [style.transform]="'scale(' + (finalEmotion && finalEmotion.sadness ? finalEmotion.sadness : 0) + ')'"
                style="transform-origin: bottom;"
            >
            <img
                src="../../assets/Surprised.svg"
                [style.transform]="'scale(' + (finalEmotion && finalEmotion.surprise ? finalEmotion.surprise : 0) + ')'"
                style="transform-origin: bottom;"
            >
            <img
                src="../../assets/Neutral.svg"
                [style.transform]="'scale(' + (finalEmotion && finalEmotion.neutral ? finalEmotion.neutral : 0) + ')'"
                style="transform-origin: bottom;"
            >
            <img
                src="../../assets/Fear.svg"
                [style.transform]="'scale(' + (finalEmotion && finalEmotion.fear ? finalEmotion.fear : 0) + ')'"
                style="transform-origin: bottom;"
            >
        </div>
        <app-grass></app-grass>
        <!-- <div class="row no-gutters">
            <div class="col">
              <h5 class="text-align">Anger</h5>
            </div>
            <div class="col">
              <h5 class="text-align">Contempt</h5>
            </div>
            <div class="col">
                <h5 class="text-align">Happy</h5>
            </div>
            <div class="col">
                <h5 class="text-align">Disgust</h5>
            </div>
            <div class="col">
                <h5 class="text-align">Sad</h5>
            </div>
            <div class="col">
                <h5 class="text-align">Surprised</h5>
            </div>
            <div class="col">
                <h5 class="text-align">Neutral</h5>
            </div>
            <div class="col">
                <h5 class="text-align">Fear</h5>
            </div>
          </div>
      </div> -->
        <div>
            <div class="grass"></div>
        </div>
    </div>
</div>
