<div class="jumbotron">
    <div class="container">
        <div class="row no-gutters">
          <!-- <div class="col"> -->
            <img src="../../assets/Anger.svg" style="transform: scale(1.5); transform-origin: bottom;">
          <!-- </div> -->
          <!-- <div class="col"> -->
            <img src="../../assets/Contempt.svg" style="transform: scale(0.9); transform-origin: bottom;">
          <!-- </div> -->
          <!-- <div class="col"> -->
              <img src="../../assets/Happy.svg" style="transform: scale(1.2); transform-origin: bottom;">
          <!-- </div> -->
          <!-- <div class="col"> -->
              <img src="../../assets/Disgust.svg" style="transform: scale(0.8); transform-origin: bottom;">
          <!-- </div> -->
          <!-- <div class="col"> -->
              <img src="../../assets/Sad.svg" style="transform: scale(1.3); transform-origin: bottom;">
          <!-- </div> -->
          <!-- <div class="col"> -->
              <img src="../../assets/Surprised.svg" style="transform: scale(1.0); transform-origin: bottom;">
          <!-- </div> -->
          <!-- <div class="col"> -->
              <img src="../../assets/Neutral.svg" style="transform: scale(1.2); transform-origin: bottom;">
          <!-- </div> -->
          <!-- <div class="col"> -->
              <img src="../../assets/Fear.svg" style="transform: scale(0.5); transform-origin: bottom;">
          <!-- </div> -->
        </div>
        <app-grass></app-grass>
        <!-- <div class="row no-gutters">
            <div class="col">
              <h5 class="text-align">Anger</h5>
            </div>
            <div class="col">
              <h5 class="text-align">Contempt</h5>
            </div>
            <div class="col">
                <h5 class="text-align">Happy</h5>
            </div>
            <div class="col">
                <h5 class="text-align">Disgust</h5>
            </div>
            <div class="col">
                <h5 class="text-align">Sad</h5>
            </div>
            <div class="col">
                <h5 class="text-align">Surprised</h5>
            </div>
            <div class="col">
                <h5 class="text-align">Neutral</h5>
            </div>
            <div class="col">
                <h5 class="text-align">Fear</h5>
            </div>
          </div>
      </div> -->
      <div>
          <div class="grass"></div>
      </div>
</div>